In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import timedelta

In [2]:
def fetch_data(company_name):
    msft = yf.Ticker(company_name)
    fin = msft.quarterly_income_stmt.transpose()
    
    import pandas as pd
    import numpy as np
    from datetime import timedelta
    fin["FinancialDate"]=pd.to_datetime(fin.index, format='%y-%m-%d').date
    fin["Year"] = pd.to_datetime(fin.index, format='%y-%m-%d').year
    fin["Month"] = pd.to_datetime(fin.index, format='%y-%m-%d').month

    fin["IsWeekend"] = pd.to_datetime(fin.index, format='%y-%m-%d').day_name().isin(['Saturday', 'Sunday'])
    fin["FinancialDate_Adj"] = np.where(fin['IsWeekend'], fin["FinancialDate"]-timedelta(days=2), fin["FinancialDate"])
    hist = msft.history(period="14mo")
    hist["Stock_Date"] = pd.to_datetime(hist.index, format='%y-%m-%d').date
    final = fin.merge(hist, how='left', left_on='FinancialDate', right_on='Stock_Date')
    final["info_json"]=str(msft.info)
    return final

In [11]:
import time

stock = pd.read_csv("/data/stock_symbols.csv")

counter = 0

df = fetch_data("LTIM.NS")

for ind in stock.index:
    print(stock['Symbol_New'][ind])
    df_tmp = fetch_data(stock['Symbol_New'][ind])
    df = pd.concat([df, df_tmp])
    counter = counter+1
    if counter % 10 == 0:
        df.to_csv("/data/raw_stock_ind.csv", index=False)
    print(counter)
    time.sleep(10) 
    
df.to_csv("/data/raw_stock_ind.csv", index=False)

20MICRONS.NS
21STCENMGM.NS
3IINFOTECH.NS
3MINDIA.NS
3PLAND.NS
3RDROCK.NS
5PAISA.NS
63MOONS.NS
AMJUMBO.NS
ABINFRA.NS

In [ ]:
#df1 = fetch_data("21STCENMGM.NS")

In [41]:
#df.head(1)

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,FinancialDate_Adj,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,info_json
0,0.0,0.25,17671000000.0,NaN,NaN,11515000000.0,1847000000.0,55987000000.0,15824000000.0,-460000000.0,...,2023-06-30,5084.918182,5189.096994,5074.004211,5156.553711,581634.0,0.0,0.0,2023-06-30,"{'address1': 'L&T House', 'address2': 'Ballard..."

In [42]:
#df1.head(1)

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,FinancialDate_Adj,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,info_json
0,0.0,0.0,-27631000.0,0.0,0.0,-27747000.0,116000.0,35955000.0,-27747000.0,0.0,...,2023-06-30,23.75,23.75,23.299999,23.299999,23889.0,0.0,0.0,2023-06-30,"{'address1': 'Grease House', 'address2': '1st ..."

In [43]:
#df = pd.concat([df, df1])

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,FinancialDate_Adj,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,info_json
0,0.0,0.25,17671000000.0,NaN,NaN,11515000000.0,1847000000.0,55987000000.0,15824000000.0,-460000000.0,...,2023-06-30,5084.918182,5189.096994,5074.004211,5156.553711,581634.0,0.0,0.0,2023-06-30,"{'address1': 'L&T House', 'address2': 'Ballard..."
1,0.0,0.228569,17951000000.0,1667000000.0,1667000000.0,11137000000.0,3073000000.0,55807000000.0,14878000000.0,-436000000.0,...,2023-03-31,4603.711157,4740.334417,4595.773724,4722.425293,328337.0,0.0,0.0,2023-03-31,"{'address1': 'L&T House', 'address2': 'Ballard..."
2,-118228292.385167,0.236457,15766000000.0,-500000000.0,-500000000.0,10005000000.0,1781000000.0,54722000000.0,13485000000.0,-379000000.0,...,2022-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'address1': 'L&T House', 'address2': 'Ballard..."
3,0.0,0.245756,10510000000.0,NaN,NaN,6793000000.0,1308000000.0,30849000000.0,9202000000.0,-189000000.0,...,2022-09-30,4345.868216,4404.665065,4240.269614,4383.083496,410491.0,0.0,0.0,2022-09-30,"{'address1': 'L&T House', 'address2': 'Ballard..."
4,0.0,0.254524,9749000000.0,NaN,NaN,6335000000.0,1065000000.0,28723000000.0,8684000000.0,-174000000.0,...,2022-06-30,4019.437045,4039.888000,3894.567058,3908.774658,374541.0,30.0,0.0,2022-06-30,"{'address1': 'L&T House', 'address2': 'Ballard..."
0,0.0,0.0,-27631000.0,0.0,0.0,-27747000.0,116000.0,35955000.0,-27747000.0,0.0,...,2023-06-30,23.750000,23.750000,23.299999,23.299999,23889.0,0.0,0.0,2023-06-30,"{'address1': 'Grease House', 'address2': '1st ..."
1,0.0,0.4,-76941000.0,0.0,0.0,-78387000.0,171000.0,69963000.0,-77112000.0,0.0,...,2023-03-31,20.799999,20.799999,20.799999,20.799999,1442.0,0.0,0.0,2023-03-31,"{'address1': 'Grease House', 'address2': '1st ..."
2,0.0,0.0,-40467000.0,0.0,0.0,-40641000.0,174000.0,4041000.0,-40641000.0,0.0,...,2022-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'address1': 'Grease House', 'address2': '1st ..."
3,0.0,0.0,-16471000.0,0.0,0.0,-16617000.0,146000.0,3646000.0,-16617000.0,0.0,...,2022-09-30,23.400000,23.400000,23.299999,23.299999,1406.0,0.0,0.0,2022-09-30,"{'address1': 'Grease House', 'address2': '1st ..."
4,0.0,0.0,-44864000.0,0.0,0.0,-44991000.0,127000.0,3696000.0,-44991000.0,0.0,...,2022-06-30,25.049999,25.799999,25.049999,25.200001,3903.0,0.0,0.0,2022-06-30,"{'address1': 'Grease House', 'address2': '1st ..."

In [3]:
data = fetch_data("A2ZINFRA.NS")

In [7]:
data['info_json'][0]["symbol"]

TypeError: string indices must be integers

In [8]:
msft = yf.Ticker("A2ZINFRA.NS")

In [11]:
import k
msft.info

{'address1': 'Plot No. B-38, Sector 32',
 'address2': 'Institutional Area Jharsa Chowk',
 'city': 'Gurugram',
 'zip': '122001',
 'country': 'India',
 'phone': '91 12 4451 7600',
 'fax': '91 12 4438 0014',
 'website': 'https://www.a2zgroup.co.in',
 'industry': 'Engineering & Construction',
 'industryDisp': 'Engineering & Construction',
 'sector': 'Industrials',
 'sectorDisp': 'Industrials',
 'longBusinessSummary': "A2Z Infra Engineering Limited offers engineering, procurement, construction, and facility management services in India and internationally. The company operates through Engineering Services, Facility Management Services, Power Generation Projects, Municipal Solid Waste Management, and Others segments. It offers integrated design, testing, installation, construction, and commissioning services, as well as telecom infrastructure projects. The company's activities include rural and railway electrification, reduction of AT&C losses, and feeder renovation and segregation; underground cabling; installation of high and low voltage distribution system; erection of distribution lines; renewable energy; construction of substations and transmission lines; and operation and maintenance of electric utilities. It also provides system integration of IT projects; and optical fiber cable NLD/access networking construction and maintenance, network integration, telecom infrastructure operation and maintenance, material planning and project management, radio frequency engineering, and engineering construction and infrastructure services. In addition, the company is involved in the collection, transportation, treatment, and disposal of solid waste generated in cities; trade of goods; rental of equipment; manufacture of electrical equipment; and provision of operation and maintenance services, etc. Further, it provides facility management services for corporate offices, malls, railways stations and coaches, airports, ports, other commercial establishments, monuments, and parks and beaches; operates sewage network and treatment plants, gas distribution networks, and metro projects; and offers power and renewable energy generation services. The company was formerly known as A2Z Maintenance & Engineering Services Limited and changed its name to A2Z Infra Engineering Limited in October 2014. A2Z Infra Engineering Limited was incorporated in 2002 and is based in Gurugram, India.",
 'companyOfficers': [{'maxAge': 1,
   'name': 'Colonel Guljeet Singh Saroya',
   'title': 'Pres',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Atul Kumar Agarwal',
   'age': 46,
   'title': 'Company Sec., Compliance Officer & Pres of Corp. Affairs',
   'yearBorn': 1976,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Amit  Mittal',
   'age': 54,
   'title': 'Founder, MD, CEO & Exec. Director',
   'yearBorn': 1968,
   'fiscalYear': 2020,
   'totalPay': 0,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Lalit  Kumar',
   'title': 'Chief Financial Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Rajiv  Singh',
   'title': 'Group Director of Corp. Fin. & Strategy',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. V. K. Ramesh',
   'age': 59,
   'title': 'Sr. VP of Bus. Devel.',
   'yearBorn': 1963,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Vaibhav  Seth',
   'title': 'Pres of International Projects & Tendering',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'compensationAsOfEpochDate': 1609372800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 10.35,
 'open': 10.8,
 'dayLow': 10.7,
 'dayHigh': 10.85,
 'regularMarketPreviousClose': 10.35,
 'regularMarketOpen': 10.8,
 'regularMarketDayLow': 10.7,
 'regularMarketDayHigh': 10.85,
 'exDividendDate': 1316649600,
 'payoutRatio': 0.0,
 'beta': 0.761679,
 'volume': 473722,
 'regularMarketVolume': 473722,
 'averageVolume': 450309,
 'averageVolume10days': 811430,
 'averageDailyVolume10Day': 811430,
 'bid': 10.85,
 'ask': 0.0,
 'bidSize': 0,
 'askSize': 0,
 'marketCap': 1925668864,
 'fiftyTwoWeekLow': 5.1,
 'fiftyTwoWeekHigh': 13.45,
 'priceToSalesTrailing12Months': 0.52773434,
 'fiftyDayAverage': 7.418,
 'twoHundredDayAverage': 8.15825,
 'trailingAnnualDividendRate': 0.0,
 'trailingAnnualDividendYield': 0.0,
 'currency': 'INR',
 'enterpriseValue': 4731410944,
 'profitMargins': -0.33161,
 'floatShares': 108078041,
 'sharesOutstanding': 176120000,
 'heldPercentInsiders': 0.36811,
 'heldPercentInstitutions': 0.0,
 'impliedSharesOutstanding': 177480992,
 'bookValue': 2.161,
 'priceToBook': 5.020824,
 'lastFiscalYearEnd': 1680220800,
 'nextFiscalYearEnd': 1711843200,
 'mostRecentQuarter': 1688083200,
 'netIncomeToCommon': -1210032000,
 'trailingEps': -7.18,
 'enterpriseToRevenue': 1.297,
 'enterpriseToEbitda': 18.329,
 '52WeekChange': -0.1686747,
 'SandP52WeekChange': 0.09306288,
 'lastDividendValue': 2.0,
 'lastDividendDate': 1316649600,
 'exchange': 'NSI',
 'quoteType': 'EQUITY',
 'symbol': 'A2ZINFRA.NS',
 'underlyingSymbol': 'A2ZINFRA.NS',
 'shortName': 'A2Z INFRA ENGINEER',
 'longName': 'A2Z Infra Engineering Limited',
 'firstTradeDateEpochUtc': 1293075900,
 'timeZoneFullName': 'Asia/Kolkata',
 'timeZoneShortName': 'IST',
 'uuid': 'b72b4b76-89d8-3056-9318-ecf747a3f4c9',
 'messageBoardId': 'finmb_36827660',
 'gmtOffSetMilliseconds': 19800000,
 'currentPrice': 10.85,
 'recommendationKey': 'none',
 'totalCash': 120607000,
 'totalCashPerShare': 0.689,
 'ebitda': 258136000,
 'totalDebt': 3134351872,
 'totalRevenue': 3648935936,
 'debtToEquity': 1090.851,
 'revenuePerShare': 20.707,
 'operatingCashflow': 203356992,
 'revenueGrowth': 0.196,
 'grossMargins': 0.15449001,
 'ebitdaMargins': 0.07074,
 'operatingMargins': 0.04632,
 'financialCurrency': 'INR',
 'trailingPegRatio': None}