In [3]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [4]:
def fetch_data(company_name):
    msft = yf.Ticker(company_name)
    fin = msft.quarterly_income_stmt.transpose()
    
    import pandas as pd
    import numpy as np
    from datetime import timedelta
    fin["FinancialDate"]=pd.to_datetime(fin.index, format='%y-%m-%d').date
    fin["Year"] = pd.to_datetime(fin.index, format='%y-%m-%d').year
    fin["Month"] = pd.to_datetime(fin.index, format='%y-%m-%d').month

    fin["IsWeekend"] = pd.to_datetime(fin.index, format='%y-%m-%d').day_name().isin(['Saturday', 'Sunday'])
    fin["FinancialDate_Adj"] = np.where(fin['IsWeekend'], fin["FinancialDate"]-timedelta(days=2), fin["FinancialDate"])
    hist = msft.history(period="14mo")
    hist["Stock_Date"] = pd.to_datetime(hist.index, format='%y-%m-%d').date
    final = fin.merge(hist, how='left', left_on='FinancialDate', right_on='Stock_Date')
    final["info_json"]=str(msft.info)
    return final

In [ ]:
import time

stock = pd.read_csv("/data/stock_symbols.csv")

counter = 0

df = fetch_data("LTIM.NS")

for ind in stock.index:
    print(stock['Symbol_New'][ind])
    #df_tmp = fetch_data(stock['Symbol_New'][ind])
    #df = pd.concat([df, df_tmp])
    counter++
    if counter % 10 == 0:
        df.to_csv("/data/raw_stock_ind.csv", index=False)
        break
    time.sleep(10) 
    
df.to_csv("/data/raw_stock_ind.csv", index=False)

In [45]:
df

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,info_json,Adj Close
0,0.0,0.25,17671000000.0,NaN,NaN,11515000000.0,1847000000.0,55987000000.0,15824000000.0,-460000000.0,...,5084.918182,5189.096994,5074.004211,5156.553711,581634.0,0.0,0.0,2023-06-30,"{'address1': 'L&T House', 'address2': 'Ballard...",NaN
1,0.0,0.228569,17951000000.0,1667000000.0,1667000000.0,11137000000.0,3073000000.0,55807000000.0,14878000000.0,-436000000.0,...,4603.711157,4740.334417,4595.773724,4722.425293,328337.0,0.0,0.0,2023-03-31,"{'address1': 'L&T House', 'address2': 'Ballard...",NaN
2,-118228292.385167,0.236457,15766000000.0,-500000000.0,-500000000.0,10005000000.0,1781000000.0,54722000000.0,13485000000.0,-379000000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'address1': 'L&T House', 'address2': 'Ballard...",NaN
3,0.0,0.245756,10510000000.0,NaN,NaN,6793000000.0,1308000000.0,30849000000.0,9202000000.0,-189000000.0,...,4345.868216,4404.665065,4240.269614,4383.083496,410491.0,0.0,0.0,2022-09-30,"{'address1': 'L&T House', 'address2': 'Ballard...",NaN
4,0.0,0.254524,9749000000.0,NaN,NaN,6335000000.0,1065000000.0,28723000000.0,8684000000.0,-174000000.0,...,4019.437045,4039.888000,3894.567058,3908.774658,374541.0,30.0,0.0,2022-06-30,"{'address1': 'L&T House', 'address2': 'Ballard...",NaN
0,0.0,0.292948,173141000.0,0.0,0.0,93024000.0,NaN,982939000.0,173141000.0,-41343000.0,...,70.522207,78.468371,70.522207,73.800003,617891.0,0.0,0.0,2023-03-31,"{'address1': '347, GIDC Industrial Estate', 'a...",NaN
1,0.0,0.269854,145227000.0,0.0,0.0,73804000.0,NaN,827953000.0,145227000.0,-44128000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'address1': '347, GIDC Industrial Estate', 'a...",NaN
2,0.0,0.25781,210108000.0,0.0,0.0,118747000.0,NaN,986866000.0,210108000.0,-48974000.0,...,94.857335,98.631766,94.857335,97.092194,164045.0,0.0,0.0,2022-09-30,"{'address1': '347, GIDC Industrial Estate', 'a...",NaN
3,0.0,0.252258,221080000.0,0.0,0.0,132616000.0,NaN,977672000.0,221080000.0,-43187000.0,...,68.783986,70.174567,67.641724,68.138359,42835.0,0.0,0.0,2022-06-30,"{'address1': '347, GIDC Industrial Estate', 'a...",NaN
0,0.0,0.0,-27631000.0,0.0,0.0,-27747000.0,116000.0,35955000.0,-27747000.0,0.0,...,23.750000,23.750000,23.299999,23.299999,23889.0,0.0,0.0,2023-06-30,"{'address1': 'Grease House', 'address2': '1st ...",NaN
1,0.0,0.4,-76941000.0,0.0,0.0,-78387000.0,171000.0,69963000.0,-77112000.0,0.0,...,20.799999,20.799999,20.799999,20.799999,1442.0,0.0,0.0,2023-03-31,"{'address1': 'Grease House', 'address2': '1st ...",NaN
2,0.0,0.0,-40467000.0,0.0,0.0,-40641000.0,174000.0,4041000.0,-40641000.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'address1': 'Grease House', 'address2': '1st ...",NaN
3,0.0,0.0,-16471000.0,0.0,0.0,-16617000.0,146000.0,3646000.0,-16617000.0,0.0,...,23.400000,23.400000,23.299999,23.299999,1406.0,0.0,0.0,2022-09-30,"{'address1': 'Grease House', 'address2': '1st ...",NaN
4,0.0,0.0,-44864000.0,0.0,0.0,-44991000.0,127000.0,3696000.0,-44991000.0,0.0,...,25.049999,25.799999,25.049999,25.200001,3903.0,0.0,0.0,2022-06-30,"{'address1': 'Grease House', 'address2': '1st ...",NaN
0,0.0,0.254237,1881453000.0,0.0,0.0,1292118000.0,139255000.0,6375038000.0,1742198000.0,-9586000.0,...,27301.747712,27504.306503,26511.371250,26821.861328,4638.0,0.0,0.0,2023-06-30,"{'address1': 'WeWork Prestige Central', 'addre...",NaN
1,0.0,0.263647,2042091000.0,0.0,0.0,1357193000.0,141130000.0,6356317000.0,1900961000.0,-57834000.0,...,22932.783554,23119.903378,22638.925124,22801.617188,2677.0,0.0,0.0,2023-03-31,"{'address1': 'WeWork Prestige Central', 'addre...",NaN
2,0.0,0.254174,1825924000.0,0.0,0.0,1248069000.0,146813000.0,6048158000.0,1679111000.0,-5705000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'address1': 'WeWork Prestige Central', 'addre...",NaN
3,0.0,0.255466,1576660000.0,0.0,0.0,1062337000.0,146004000.0,6224496000.0,1430656000.0,-3808000.0,...,22901.596938,23811.911460,22826.759876,23578.392578,5968.0,0.0,0.0,2022-09-30,"{'address1': 'WeWork Prestige Central', 'addre...",NaN
4,0.0,0.255002,1279200000.0,0.0,0.0,842593000.0,142844000.0,5974109000.0,1136356000.0,-5356000.0,...,21554.333095,21847.550216,20665.722693,20941.117188,5861.0,0.0,0.0,2022-06-30,"{'address1': 'WeWork Prestige Central', 'addre...",NaN
0,0.0,0.252592,3708000.0,NaN,NaN,2595000.0,239000.0,NaN,3469000.0,NaN,...,18.799999,19.750000,18.350000,18.700001,5830.0,0.0,0.0,2023-06-30,"{'maxAge': 86400, 'priceHint': 2, 'previousClo...",NaN
1,0.0,0.251665,3830000.0,NaN,NaN,2697000.0,238000.0,NaN,3592000.0,NaN,...,20.850000,20.850000,19.799999,20.100000,11609.0,0.0,0.0,2023-03-31,"{'maxAge': 86400, 'priceHint': 2, 'previousClo...",NaN
2,0.0,0.241852,3890000.0,NaN,NaN,2768000.0,239000.0,NaN,3651000.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'maxAge': 86400, 'priceHint': 2, 'previousClo...",NaN
3,0.0,0.255218,3516000.0,NaN,NaN,7494000.0,238000.0,NaN,3278000.0,NaN,...,16.299999,17.450001,16.299999,16.700001,1982.0,0.0,0.0,2022-09-30,"{'maxAge': 86400, 'priceHint': 2, 'previousClo...",NaN
4,0.0,0.236195,3372000.0,NaN,NaN,2393000.0,239000.0,NaN,3133000.0,NaN,...,14.250000,14.750000,13.850000,14.550000,5701.0,0.0,0.0,2022-06-30,"{'maxAge': 86400, 'priceHint': 2, 'previousClo...",NaN

In [39]:
df1 = fetch_data("21STCENMGM.NS")

In [41]:
df.head(1)

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,FinancialDate_Adj,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,info_json
0,0.0,0.25,17671000000.0,NaN,NaN,11515000000.0,1847000000.0,55987000000.0,15824000000.0,-460000000.0,...,2023-06-30,5084.918182,5189.096994,5074.004211,5156.553711,581634.0,0.0,0.0,2023-06-30,"{'address1': 'L&T House', 'address2': 'Ballard..."

In [42]:
df1.head(1)

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,FinancialDate_Adj,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,info_json
0,0.0,0.0,-27631000.0,0.0,0.0,-27747000.0,116000.0,35955000.0,-27747000.0,0.0,...,2023-06-30,23.75,23.75,23.299999,23.299999,23889.0,0.0,0.0,2023-06-30,"{'address1': 'Grease House', 'address2': '1st ..."

In [43]:
df = pd.concat([df, df1])
df

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBIT,Net Interest Income,...,FinancialDate_Adj,Open,High,Low,Close,Volume,Dividends,Stock Splits,Stock_Date,info_json
0,0.0,0.25,17671000000.0,NaN,NaN,11515000000.0,1847000000.0,55987000000.0,15824000000.0,-460000000.0,...,2023-06-30,5084.918182,5189.096994,5074.004211,5156.553711,581634.0,0.0,0.0,2023-06-30,"{'address1': 'L&T House', 'address2': 'Ballard..."
1,0.0,0.228569,17951000000.0,1667000000.0,1667000000.0,11137000000.0,3073000000.0,55807000000.0,14878000000.0,-436000000.0,...,2023-03-31,4603.711157,4740.334417,4595.773724,4722.425293,328337.0,0.0,0.0,2023-03-31,"{'address1': 'L&T House', 'address2': 'Ballard..."
2,-118228292.385167,0.236457,15766000000.0,-500000000.0,-500000000.0,10005000000.0,1781000000.0,54722000000.0,13485000000.0,-379000000.0,...,2022-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'address1': 'L&T House', 'address2': 'Ballard..."
3,0.0,0.245756,10510000000.0,NaN,NaN,6793000000.0,1308000000.0,30849000000.0,9202000000.0,-189000000.0,...,2022-09-30,4345.868216,4404.665065,4240.269614,4383.083496,410491.0,0.0,0.0,2022-09-30,"{'address1': 'L&T House', 'address2': 'Ballard..."
4,0.0,0.254524,9749000000.0,NaN,NaN,6335000000.0,1065000000.0,28723000000.0,8684000000.0,-174000000.0,...,2022-06-30,4019.437045,4039.888000,3894.567058,3908.774658,374541.0,30.0,0.0,2022-06-30,"{'address1': 'L&T House', 'address2': 'Ballard..."
0,0.0,0.0,-27631000.0,0.0,0.0,-27747000.0,116000.0,35955000.0,-27747000.0,0.0,...,2023-06-30,23.750000,23.750000,23.299999,23.299999,23889.0,0.0,0.0,2023-06-30,"{'address1': 'Grease House', 'address2': '1st ..."
1,0.0,0.4,-76941000.0,0.0,0.0,-78387000.0,171000.0,69963000.0,-77112000.0,0.0,...,2023-03-31,20.799999,20.799999,20.799999,20.799999,1442.0,0.0,0.0,2023-03-31,"{'address1': 'Grease House', 'address2': '1st ..."
2,0.0,0.0,-40467000.0,0.0,0.0,-40641000.0,174000.0,4041000.0,-40641000.0,0.0,...,2022-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'address1': 'Grease House', 'address2': '1st ..."
3,0.0,0.0,-16471000.0,0.0,0.0,-16617000.0,146000.0,3646000.0,-16617000.0,0.0,...,2022-09-30,23.400000,23.400000,23.299999,23.299999,1406.0,0.0,0.0,2022-09-30,"{'address1': 'Grease House', 'address2': '1st ..."
4,0.0,0.0,-44864000.0,0.0,0.0,-44991000.0,127000.0,3696000.0,-44991000.0,0.0,...,2022-06-30,25.049999,25.799999,25.049999,25.200001,3903.0,0.0,0.0,2022-06-30,"{'address1': 'Grease House', 'address2': '1st ..."